<head><link href="favicon.ico" rel="shortcut icon" type="image/x-icon" /></head>
<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
    <div id="background">
        <img src="https://www.freepik.com/free-ai-image/majestic-dragon-perched-mountain-peak-overlooking-breathtaking-landscape-generated-by-ai_47589515.htm#query=dragon&position=16&from_view=keyword&track=sph" alt="A dragon standing on a mountain">
    </div>
</body>